* {
    margin: 0;
    padding: 0;
}

header img {
    width: 70px;
    height: auto;
}

header a {
    gap: 10px;
    text-decoration: none;
    transition: 300ms;
    color: rgb(109, 23, 23);
    font-weight: 700;
    align-items: center;
    display: flex;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
}

header a:hover {
    color:rgba(134, 24, 24, 0.452);
}

header {
    display: flex;
    background-color: rgb(255, 253, 253);
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: space-evenly;
    align-content: space-evenly;
    justify-items: center;
    row-gap: 30px;
}

.container img {
    border-radius: 5px;
}

.container > div {
    /* background: rgb(199, 189, 189); */
    background: url(/Images/pexels-berend-de-kort-1452701.jpg) no-repeat center center fixed;
    background-size: cover;
}

main {
    /* background-color: rgb(199, 189, 189); */
    padding-top: 40px;
    background: url(/Images/pexels-berend-de-kort-1452701.jpg) no-repeat center center fixed;
    background-size: cover;
}

p {
    font-family: 'Prompt', sans-serif;
    color: rgb(241, 232, 232);
    font-weight: 400;
}


@media only screen and (max-width: 375px) {
    header a {
        font-size: 0.7em;
        clear: both;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
    }

    p {
       font-size: 0.8em;
    }
    
    img {
        width: 150px;
        height: auto;
    }
}