* {
    margin: 0;
    padding: 0;
}

header img {
    width: 70px;
    height: auto;
}

header {
    display: flex;
    justify-items: center;
}

/* ul {
    display: flex;
    justify-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
} */

/* header li {
    font-size: 1.2rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    margin-right: 20px;
} */

header a {
    gap: 10px;
    text-decoration: none;
    transition: 300ms;
    color: rgb(109, 23, 23);
    font-weight: 700;
    align-items: center;
    display: flex;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
}

header a:hover {
    color:rgba(134, 24, 24, 0.452);
}

header {
    display: flex;
    background-color: rgb(255, 253, 253);
}

.barco > img {
    width: 80%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: 120px;
    margin-top: 25px;
}

p {
    text-align: center;
}
/* 
.barco {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    align-content: space-evenly;
    justify-items: center;
} */

.carrossel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.galery {
    width: 640px;
    height: 360px;
    background-color: black;
    border: 3px solid;
    overflow: hidden;
}

.galery .fotos {
    width: 500%;
    animation-name: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.galery .fotos img {
    width: 19.9%;
}

@keyframes animacao {
    0% {margin-left: 0; }
    20% {margin-left: 0;}
    25% {margin-left: -100%; }
    45% {margin-left: -100%; }
    50% {margin-left: -200%; }
    70% {margin-left: -200%; }
    75% {margin-left: -300%; }
    95% {margin-left: -300%; }
    100% {margin-left: -400%; }
}

.form {
    margin-top: 30px;
    border: solid 1px;
    padding-left: 100px;
    padding-bottom: 30px;
    font-family: 'Catamaran', sans-serif;
    font-family: 'Kanit', sans-serif;
}

@media only screen and (max-width: 375px) {

    header {
        font-size: 1.2rem;
        width: 370px;
        display: flex;
        justify-items: flex-start;
        
    }

    header a {
        width: 370px;
        gap: 10px;
        text-decoration: none;
        font-size: 1rem;
        transition: 300ms;
        color: rgb(109, 23, 23);
        font-weight: 700;
        align-items: center;
        display: flex;
        margin-left: 10px;
        font-family: 'Roboto', sans-serif;
    }
    /* header li {
        font-size: 1.2rem;
        width: 200px;
        display: flex;
        justify-items: flex-start;
        align-content: center;
        margin-right: 20px;
    } */

    body {
        width: 370px;
    }

    body {
        width: 370px;
    }

    .carrossel {
        display: inline-block;
        flex-wrap: wrap;
        width: 50%;
        margin-left: 0px;
}

.fotos img {
    width: 50px;
}

.form {
    width: 100%;
    margin-left: 0px;
    align-items: center;
    align-content: center;
    text-align: center;
}

}

@media only screen and (max-width: 1024px) {

header {
    display: flex;
    justify-content:left;
    align-items: center;
    gap: 20px;
}

header a {
    font-size: 0.8em;
    text-decoration: none;
    }

    header ul {
        list-style: none;
        text-decoration: none;
        font-size: 1.2rem;
        width: 200px;
        display: flex;
        justify-items: flex-start;
        justify-content: space-around;
        align-items: center;
        margin-right: 20px;
        border-left: 1px;
    }

body {
    width: 100%;
    }
  
main {
    width: 100%;
}

.carrossel {
    display: inline-block;
    flex-wrap: wrap;
    width: 50%;
    margin-left: 0px;
}

.form {
    width: 530px;
    margin-left: 0px;
    align-items: center;
    align-content: center;
    text-align: center;
    padding-left: 0px;
} 

}

@media only screen and (max-width: 1280px) {
    header {
        display: flex;
        justify-content:left;
        align-items: center;
        gap: 40px;
    }
    
    header a {
        font-size: 0.8em;
        text-decoration: none;
        }
    
        header ul {
            list-style: none;
            text-decoration: none;
            font-size: 1.2rem;
            width: 200px;
            display: flex;
            justify-items: flex-start;
            justify-content: space-around;
            align-items: center;
            margin-right: 20px;
            border-left: 1px;
            gap: 10px;
        }
    
    body {
        width: 1200px;
        }
      
    main {
        width: 1280px;
    }
    
    .carrossel {
        display: flex;
        justify-items: center;
        flex-wrap: wrap;
        width: 100%;
        margin-left: 0px;
    }
    
    .form {
        width: 100%;
        margin-left: 0px;
        align-items: center;
        align-content: center;
        text-align: center;
        padding-left: 0px;
    } 
    
}
