* {
    margin: 0;
    padding: 0;
}

header img {
    width: 70px;
    height: auto;
}

header a {
    gap: 10px;
    text-decoration: none;
    transition: 300ms;
    color: rgb(109, 23, 23);
    font-weight: 700;
    align-items: center;
    display: flex;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
}

header a:hover {
    color:rgba(134, 24, 24, 0.452);
}

header {
    display: flex;
    background-color: rgb(255, 253, 253);
}

body {
    background-color: whitesmoke;
    
}

.galery {
    align-content: center;
    width: 836px;
    height: 230px;
    background-color: rgb(233, 227, 227);
    border: 3px solid;
    overflow: hidden;
    margin-left: 250px;
}

.galery .fotos {
    width: 500%;
    animation-name: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.galery .fotos img {
    width: 19.9%;
}

@keyframes animacao {
    0% {margin-left: 0; }
    20% {margin-left: 0;}
    25% {margin-left: -100%; }
    45% {margin-left: -100%; }
    50% {margin-left: -200%; }
    70% {margin-left: -200%; }
    75% {margin-left: -300%; }
    95% {margin-left: -300%; }
    100% {margin-left: -400%; }
}

.carrossel {
    background-color: black;
}

/* .banner {
    padding-top: 10px;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    display: flex;
} */

/* .container {
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: whitesmoke;
    display: block;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: space-evenly;
    justify-items: center;
    margin-left: 200px;
} */

.container {
    display: flex;
    gap: 10px;
    width: 98%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.linha {
    display: flex;
    gap: 10px;
}

.isca {
    width: 300px;
    min-height: 300px;
    background-color: rgba(204, 199, 194, 0.404);
    border-radius: 5px;
}

.barco {
    width: 300px;
    min-height: 200px;
    background-color: rgba(204, 199, 194, 0.404);;
    border-radius: 5px;
}


.carretilha {
    width: 300px;
    min-height: 300px;
    background-color: rgba(204, 199, 194, 0.404);;
    border-radius: 5px;
}

h2 h3 {
    font-family: 'Roboto', sans-serif;
}

/* .barco {
    display: flex;
    gap: 10px;
    width: 98%;
    flex-wrap: wrap;
    justify-content: center;
} */


/* .barcos {
    display: flex;
    gap: 10px;    
    width: 300px;
    height: 350px;
    flex-wrap: wrap;
    justify-content: center;
} */
/* 
.carretilhas {
    display: flex;
    gap: 10px;
    width: 300px;
    height: 350px;
    flex-wrap: wrap;
    justify-content: center;
} */

/* .iscas {
    display: flex;
    align-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    margin-left: 50px;
    grid-gap: 20px;
} */

.iscas a:hover {
    border-style: groove;
    /* border: silver; */
}

/* .barcos {
    display: flex;
    align-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    grid-gap: 60px;
    margin-left: 50px;
} */

.barcos a:hover {
    border-style: groove;
    box-shadow: rgba(230, 223, 223, 0.959);
}

/* .carretilhas {
    display: flex;
    align-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    margin-left: 50px;
    grid-gap: 20px;
} */

.carretilhas a:hover {
    border-style: groove;
    box-shadow: 2px 2px 10px rgba(0,0,0,.7);
}

footer {
    min-height: 40px;
    background-color: rgb(10, 128, 92);
    color: rgb(241, 226, 226);
    align-items: center;
    align-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
}

footer a {
    text-align: center;
    text-decoration:none;
    padding-left: 40px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

footer p {
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
}

footer > a:hover {
    font-size: 1.2em;
}

@media only screen and (max-width: 375px) {
    
    header {
        width: 200px;
    }
    
    header a {
        font-size: 1.em;
    }

    .container {
        margin-left: 10px;
    }
    .empresa {
        width: 150px;
        font-size: 0.7em;        
    }
    main h2 {
        font-size: 1em;
    }

    footer {
        width: 100vw;
    }
}


@media only screen and (max-width: 1024px) {
    header {
        width: 100%;
    }
    main {
        width: 80%;
        text-align: justify;
    }
    .container {
        margin-left: 30px;
    }
    .empresa {
        width: 400px;
        font-size: 1.2em;        
    }
    main h2 {
        font-size: 1em;
    }
}


@media only screen and (max-width: 1280px) {
    header {
        width: 100%;
    }
    body {
        width: 100%;
    }
    .empresa {
        width: 400px;
        font-size: 1.3em;        
    }
    main h2 {
        font-size: 1em;
    }
}
